body{
    background-color:#22396a;
    font-family: sans-serif;
}

header{
    text-align: center;
    margin-top: 50px;
    color: white;
   
}


.wraper{
    line-height: 24px;
    margin-block-end: 16px;
    margin-block-start: 16px;
    color:white;
    font-family: sans-serif;
    margin-right: 70px;
    
}  

div{
    margin-left:120px
}

.wraper1{
    line-height: 24px;
    margin-block-end: 16px;
    margin-block-start: 16px;
    color:white;
    font-family: sans-serif;
    margin-right: 70px;

}

.wraper2{
    line-height: 24px;
    margin-block-end: 16px;
    margin-block-start: 16px;
    color:white;
    font-family: sans-serif;
    margin-right: 70px;
}

.wraper3{
    color: white;
    font-style: bold;
    line-height: 1.5;
    font-family: sans-serif;
    margin-right: 70px;
}

.footer{
    text-align: center;
    background-color: #11244d;
    opacity: 0.8;
    padding: 20px 10px 30px 10px;
    margin-right: 90px;
    margin-bottom: 30px;
    
}

.wraper4{
    color: red;
    margin-left: 30px;
    font-size: 20px;
    font-family: sans-serif;
}

.one{color:#31bb66}

.one1{
    color:white
}